/* CSS Design by zero */
html {
   margin:0px;
   color:#333;
   font-family:Arial, Helvetica, sans-serif;
   font-size:11px;
}
body {
   margin:0px;
   color:#333;
   font-size:11px;
   background:#3A3A3A;
   font-family:Arial, Helvetica, sans-serif;
}
div,img,ul,ol,li,dl,dt,dd {margin: 0; padding: 0; border: 0;overflow:hidden; }
li{list-style-type:none;}
img{vertical-align:top;}
sup{ font-size:8px;vertical-align:top;}


/* box style */

#container {width:965px;margin:0px auto;}

#box_top {width:965px; height:72px; background:url(../_images/bg_top.gif) repeat-x;}
#box_top li.logo {width:255px; float:left;}
#box_top li.text {width:195px;padding-right:10px; padding-top:10px;color:#86234B;float:right;text-align:right;}
#box_top li.text a,visited { color:#86234B; text-decoration:none;}
#box_top li.text a:hover { color:#000; text-decoration:underline;}

#box_main {width:965px; border-top:#808080 1px solid;border-bottom:#000 1px solid;background:#646464;}
#box_nav {
  width:965px;
  height:31px;
  line-height:31px;
  color:#E8E8E8;
  background:url(../_images/bg_nav.gif);
}
#box_nav li.daohang {
  font-size:11px;
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
  float:left;
}
#box_nav li.daohang a,visited {
  padding-left:10px;
  padding-right:10px;
  font-size:11px;
  color:#E8E8E8;
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
  text-decoration:none;
  float:left;
}
#box_nav li.daohang a:hover {
  padding-left:10px;
  padding-right:10px;
  font-size:11px;
  color:#FFAE00;
  border:#000 1px solid;
  background:#252121;
  text-align:center;
  text-decoration:none;
  float:left;
}
#box_nav li.tips {
  padding-right:20px;
  color:#BEBEBE;
  font-size:12px;
  float:right;
}

#main_content {width:965px;background:url(../_images/bg_right.gif) repeat-y 554px 1px;float:left;}
#main_left {width:545px;padding:5px;float:left;}
#main_right {width:410px; float:right;}
#box_search {width:100%;height:40px;padding-top:20px; padding-left:20px;background:url(../_images/bg_search.gif);float:left;}
#pic_infoleft { margin-top:5px;width:545px;float:left;}
#page_bar { margin-top:10px;width:545px; height:28px; line-height:28px;background:#333;float:left;}
.page_turn {
  margin-top:5px;
}
.page_turn li {
  margin-left:5px;*margin-left:5px;_margin-left:2px;
  height:10px;
  line-height:10px;
  font-size:10px;
  color:#fff;
  padding-bottom:3px;
  padding-top:3px;
  padding-left:5px;
  padding-right:5px;
  text-align:center;
  background:#606060;
  border:#fff 1px solid;
  float:left;
}
.page_turn li.num {
  height:10px;
  line-height:10px;
  font-size:10px;
  color:#C0C0C0;
  padding-bottom:3px;
  padding-top:3px;
  padding-left:5px;
  padding-right:5px;
  text-align:center;
  background:url(../_images/bg_turnpage.gif);
  border:#909090 1px solid;
  text-decoration:none;
  float:left;
}
.page_turn li.num a,visited {
  color:#C0C0C0;
  line-height:10px;
  text-decoration:none;
}
.page_turn li.num a:hover {
  color:#fff;
  line-height:10px;
  text-decoration:none;
}

#categories_bar { margin-top:0px;width:545px; height:28px; line-height:28px;background:#333;float:left;}
#categories_bar li { height:28px; line-height:28px; color:#C0C0C0; font-size:14px; font-weight:bold;text-indent:8px;float:left;}
#categories_bar li.turn { width:65px;height:23px;margin-top:5px;*margin-top:0px;_margin-top:5px;float:right;}

#bar_purple {width:100%;height:25px; line-height:25px;font-size:14px;color:#fff; font-weight:bold;text-indent:10px;background:url(../_images/bg_bar_purple.gif) repeat-x;float:left;}
#bar_green {width:100%;height:25px; line-height:25px;font-size:14px;color:#fff; font-weight:bold;text-indent:10px;background:url(../_images/bg_bar_green.gif) repeat-x;float:left;}
#bar_black {width:100%;height:25px; line-height:25px;font-size:14px;color:#fff; font-weight:bold;text-indent:10px;background:url(../_images/bg_bar_black.gif) repeat-x;float:left;}
#info_categories {
  width:370px;
  margin:20px;*margin:20px;_margin:10px;
  line-height:25px;
  float:left;
}
#info_categories li {
  font-size:12px;
  width:110px;
  padding-left:10px;
  height:27px;
  line-height:27px;
  float:left;
}
#info_categories li a,visited {
  color:#fff;
  text-decoration:none;
}
#info_categories li a:hover {
  color:#FFAE00;
  text-decoration: underline;
}
#right_pic {width:380px;padding:20px;float:left;}
#right_tag {width:100%;padding:7px;line-height:32px;background:url(../_images/bg_tag.gif);float:left;}
#box_pic {
  margin:15px;*margin:15px;_margin:13px;
  width:160px;
  height:147px;*height:147px;_height:145px;
  border:#000 1px solid;
  background:#fff;
  float:left;
}
#box_window {
  margin:15px;*margin:15px;_margin:13px;
  width:600px;
  border:#000 1px solid;
  background:#fff;
  float:left;
}
#box_pic li {
  float:left;
}
#box_pic li.text {
  width:100%;
  height:25px;
  line-height:25px;
  font-size:11px;
  color:#fff;
  text-indent:10px;
  background:url(../_images/bg_bar_black.gif) repeat-x;
  float:left;
}
#box_pic li.img {
  margin:7px;*margin:7px;_margin:4px;
  float:left;
}

#box_lagepic {
  margin:8px;*margin:9px;_margin:4px;
  width:528px;
  height:423px;*height:423px;_height:423px;
  border:#000 1px solid;
  background:#fff;
  float:left;
}
#box_lagepic li {
  float:left;
}
#box_lagepic li.text {
  width:100%;
  height:25px;
  line-height:25px;
  font-size:12px;
  color:#fff;
  text-indent:10px;
  background:url(../_images/bg_bar_black.gif) repeat-x;
  float:left;
}
#box_lagepic li.img {
  margin:7px;*margin:7px;_margin:4px;
  float:left;
}

#box_info {
  margin-top:10px;
  width:543px;
  border:#000 1px solid;
  background:#fbfbfa;
  float:left;
}
#info_tibar {
  width:100%;
  height:25px;
  line-height:25px;
  font-size:14px;
  font-weight:bold;
  color:#fff;
  text-indent:10px;
  background:url(../_images/bg_bar_black.gif) repeat-x;
  float:left;
}
#info_size {
  width:250px;
  margin-left:10px;
  margin-top:10px;
  float:left;
}
#info_size li {
  width:250px;
  height:25px;
  line-height:25px;
  text-indent:20px;
  border-bottom:#999 1px solid;
  background:url(../_images/btn_save.gif) no-repeat 1px 3px;
}
#info_size li a,visited {
  color:#710045;
  font-size:14px;
  line-height:25px;
  text-decoration:none;
}
#info_size li a:hover {
  color:#710045;
  font-size:14px;
  line-height:25px;
  text-decoration:none;
  background-color:#D7D7D7;
}
#info_download {
  width:130px;
  margin-right:10px;
  margin-top:30px;
  line-height:30px;
  font-size:20px;
  font-weight:bold;
  text-align:center;
  float:right;
}
#info_share {
  width:100%;
  margin-top:20px;
  height:25px;
  line-height:25px;
  font-size:12px;
  font-weight:bold;
  color:#646464;
  text-indent:10px;
  float:left;
}
#bar_right_purple {
  margin-top:10px;
  width:545px;
  height:25px;
  line-height:25px;
  color:#fff;
  font-size:14px;
  font-weight:bold;
  text-indent:10px;
  background:url(../_images/bg_bar_purple.gif) repeat-x;
  float:left;
}
#bar_right_green {
  margin-top:10px;
  width:545px;
  height:25px;
  line-height:25px;
  color:#fff;
  font-size:14px;
  font-weight:bold;
  text-indent:10px;
  background:url(../_images/bg_bar_green.gif) repeat-x;
  float:left;
}
#bar_right_black {
  margin-top:10px;
  width:545px;
  height:25px;
  line-height:25px;
  color:#fff;
  font-size:14px;
  font-weight:bold;
  text-indent:10px;
  background:url(../_images/bg_bar_black.gif) repeat-x;
  float:left;
}

#box_tips { margin-top:10px;width:543px;border:#333 1px solid;height:60px; line-height:60px;text-align:center;color:#000;font-size:16px;font-weight:bold;background:#C9C9C9;float:left; }

#partners_info {width:100%;background:#353535;padding:5px;float:left;}
#partners_info li {width:100%;float:left;color:#698069; font-size:11px;line-height:18px; padding-bottom:5px;border-bottom:#5A5A5A 1px dotted;}
#partners_info li a,visited {width:100%;float:left;color:#A8402E; font-size:12px; text-decoration:none;font-weight:bold;}
#partners_info li a:hover {width:100%;float:left;color:#fff; font-size:12px; text-decoration:none;font-weight:bold;}

#box_bottom {width:965px;margin:0px auto;}
#bottom_bg {width:965px;background:url(../_images/bg_bottom.gif); border-top:#000 2px solid;color:#D3D3D3;margin:0px; padding-top:26px;}
#box_topdownload {
  width:240px;
  color:#D3D3D3;
  margin-left:60px;*margin-left:60px;_margin-left:40px;
  padding-bottom:15px;
  float:left;
}
#box_topdownload li {width:240px;color:#D3D3D3;}
#box_topdownload li.ti {
  width:240px;
  margin-left:68px;margin-left:*68px;_margin-left:28px;
  margin-bottom:10px;
  float:left;
}
#box_topdownload li.text {width:240px;height:25px;line-height:25px;color:#D3D3D3; text-indent:5px;text-decoration:none;border-bottom:#797979 1px solid;float:left;}
#box_topdownload li.text a,visited {width:240px;height:25px; line-height:25px;color:#D3D3D3; text-decoration:none;border-bottom:#797979 1px solid; float:left;}
#box_topdownload li.text a:hover {width:240px;height:25px; line-height:25px;color:#F5DB03;text-decoration:none;background:#242424;border-bottom:#797979 1px solid; float:left;}

#bar_copyright {width:965px; height:45px;background:url(../_images/bg_bottom_nav.gif);border-top:#000 1px solid;color:#D3D3D3;margin:0px;}
#bar_copyright li { padding-top:8px;line-height:14px; margin-left:15px; text-align:center;}
#bar_copyright li a,visited {color:#D3D3D3; text-decoration:none;}
#bar_copyright li a:hover {color:#F5DB03;text-decoration:underline;}

.page_bar { margin-top:10px;width:545px; height:28px; line-height:28px;background:#333;float:left;}
.page_turn {
  margin-top:5px;
}
.page_turn li {
  margin-left:5px;*margin-left:5px;_margin-left:2px;
  height:10px;
  line-height:10px;
  font-size:10px;
  color:#fff;
  padding-bottom:3px;
  padding-top:3px;
  padding-left:5px;
  padding-right:5px;
  text-align:center;
  background:#606060;
  border:#fff 1px solid;
  float:left;
}
.page_turn li.num {
  height:10px;
  line-height:10px;
  font-size:10px;
  color:#C0C0C0;
  padding-bottom:3px;
  padding-top:3px;
  padding-left:5px;
  padding-right:5px;
  text-align:center;
  background:url(../_images/bg_turnpage.gif);
  border:#909090 1px solid;
  text-decoration:none;
  float:left;
}
.page_turn li.num a:link{
  color:#C0C0C0;
  line-height:10px;
  text-decoration:none;
}
.page_turn li.num a:visited{
  color:#C0C0C0;
  line-height:10px;
  text-decoration:none;
}
.page_turn li.num a:hover {
  color:#fff;
  line-height:10px;
  text-decoration:none;
}

/* AD style */
#main_ad {width:545px;float:left; height:90px; background:#F2F2F2;}
#ad_bottom { margin-top:10px;width:545px;float:left;height:90px; background:#F2F2F2;}
#ad_right {width:100%;height:290px;background:#ccc; padding:5px;float:left;}

/* link style */
A.link_white12:link{ font-size: 11px;color: #fff;text-decoration: none;}
A.link_white12:visited{ font-size: 11px;color: #fff;text-decoration: none;}
A.link_white12:hover{ font-size: 11px;color: #ff0000;text-decoration: none;}

.tag1,a.tag1:link,a.tag1:visited{ color:#EEFAAD; font-size:24px;text-decoration:none;}
a.tag1:hover{ color:#fff; font-size:24px;text-decoration:underline;}

.tag2,a.tag2:link,a.tag2:visited{ color:#AAD81B; font-size:16px;text-decoration:none;}
a.tag2:hover{ color:#fff; font-size:16px;text-decoration:underline;}

.tag3,a.tag3:link,a.tag3:visited{ color:#FF7600; font-size:24px;text-decoration:none;}
a.tag3:hover{ color:#fff; font-size:24px;text-decoration:underline;}


/* text style */
.text_orange11 {
   font-size:11px;
   color:#FFAE00;
}
.text_orange12b {
   font-size:12px;
   color:#FFAE00;
   font-weight:bold;
}
.text_word {
	line-height:22px;
	color:#333;
}
.text_word12 {
	line-height:22px;
	font-size:12px;
	text-align:justify;
	text-justify:inter-ideograph;
}
.text_black12 {
   font-weight:bold;
}
.text_white12 {
   font-size:12px;
   color:#fff;
}
.text_gray12 {
   font-size:12px;
   color:#ccc;
}
.text_red16b {
   color:#245628;
   font-size:16px;
   font-weight:bold;
}
/* form style */
select {
   font-family:Arial, Helvetica, sans-serif;
   font-size:11px;
}
.input1 {
   height:18px;
   line-height:18px;
   font-size:11px;
   font-family:Arial, Helvetica, sans-serif;
   color:#ccc;
   text-indent:3px;
   background:#333333;
   border:#000 1px solid;
}
.botton1 {
   height:22px;
   font-size:12px;
   font-family:Arial, Helvetica, sans-serif;
   color:#FFAE00;
   background:#2C2C2C;
   border:#000 1px solid;
}

/* ÐÂÔö */
#info_advancedsearch {
  width:510px;
  margin-left:10px;
  margin-top:10px;
  padding-bottom:20px;
  font-size:14px;
  color:#000;
  float:left;
}
#info_advancedsearch li {
  width:510px;
  height:30px;
  line-height:30px;
  font-weight:bold;
}
#info_theme {
  width:450px;*width:450px;_width:440px;
  margin-left:20px;
  padding-top:10px;
  padding-bottom:10px;
  font-size:12px;
  color:#000;
  float:left;
}
#info_theme li {
  color:#363636;
  height:30px;
  line-height:30px;
  border-bottom:#ccc 1px solid;
}
#info_theme li a,visited {
  color:#000;
  font-size:14px;
  font-weight:bold;
  text-decoration:none;
  height:30px;
  line-height:30px;
}
#info_theme li a:hover {
  color:#8D8E00;
  font-size:14px;
  font-weight:bold;
  text-decoration:none;
  height:30px;
  line-height:30px;
}
#info_theme li.name {
  width:160px;
  background:url(../_images/icon_theme.gif) no-repeat 1px 7px;
  text-indent:20px;
  float:left;
}
#info_theme li.categories {
  width:130px;
  float:left;
}
#info_theme li.time {
  width:120px;
  text-align:right;
  float:left;
}

#info_content {
  width:945px;*width:945px;_width:945px;
  margin-left:20px;*margin-left:20px;_margin-left:15px;
  padding-top:10px;
  padding-bottom:10px;
  font-size:12px;
  color:#000;
  float:left;
}
#info_content li {
  color:#363636;
  height:30px;
  line-height:30px;
  border-bottom:#ccc 1px solid;
}
#info_content li a,visited {
  color:#000;
  font-size:14px;
  font-weight:bold;
  text-decoration:none;
  height:30px;
  line-height:30px;
}
#info_content li a:hover {
  color:#8D8E00;
  font-size:14px;
  font-weight:bold;
  text-decoration:none;
  height:30px;
  line-height:30px;
}
#info_content li.name {
  width:350px;
  background:url(../_images/icon_content.gif) no-repeat 1px 7px;
  text-indent:20px;
  float:left;
}
#info_content li.categories {
  width:210px;
  float:left;
}
#info_content li.downloads {
  width:210px;
  float:left;
}
#info_content li.time {
  width:120px;
  text-align:right;
  float:left;
}

#info_bysize {
  width:700px;
  margin-left:150px;*margin-left:150px;_margin-left:100px;
  padding-top:50px;
  padding-bottom:50px;
  font-size:16px;
  color:#000;
  float:left;
}
#info_bysize li {
  width:230px;
  height:50px;
  line-height:50px;
  float:left;
}
#info_bysize li a,visited {
  color:#000;
  text-decoration:none;
  height:50px;
  line-height:50px;
}
#info_bysize li a:hover {
  text-decoration:underline;
  height:50px;
  line-height:50px;
}

#main_search {width:965px;float:left;}
#main_search_box {width:955px;padding:5px;float:left;}
#main_ad955 {width:955px;float:left; height:90px; background:#F2F2F2;}

#advancedsearch_ad {
  margin-top:10px;
  margin-right:10px;
  width:420px;
  height:200px;
  border: #F4DDBB 1px dashed;
  background:#fff;
  line-height:25px;
  float:right;
}

#box_info955 {
  margin-top:10px;
  padding-bottom:10px;
  width:953px;
  border:#000 1px solid;
  background:#fbfbfa;
  float:left;
}
#info_tibar {
  width:100%;
  height:25px;
  line-height:25px;
  font-size:14px;
  font-weight:bold;
  color:#fff;
  text-indent:10px;
  background:url(../_images/bg_bar_black.gif) repeat-x;
  float:left;
}

#box_pic_list {
  margin:14px;*margin:14px;_margin:11px;
  width:160px;
  height:147px;*height:147px;_height:145px;
  border:#000 1px solid;
  background:#fff;
  float:left;
}
#box_pic_list li {
  float:left;
}
#box_pic_list li.text {
  width:100%;
  height:25px;
  line-height:25px;
  font-size:11px;
  color:#fff;
  text-indent:10px;
  background:url(../_images/bg_bar_black.gif) repeat-x;
  float:left;
}
#box_pic_list li.img {
  margin:7px;*margin:7px;_margin:4px;
  float:left;
}

.page_bar955 { margin-top:10px;margin-bottom:10px;width:955px; height:28px; line-height:28px;background:#333;float:left;}
.page_turn {
  margin-top:5px;
}
.page_turn li {
  margin-left:5px;*margin-left:5px;_margin-left:2px;
  height:10px;
  line-height:10px;
  font-size:10px;
  color:#fff;
  padding-bottom:3px;
  padding-top:3px;
  padding-left:5px;
  padding-right:5px;
  text-align:center;
  background:#606060;
  border:#fff 1px solid;
  float:left;
}
.page_turn li.num {
  height:10px;
  line-height:10px;
  font-size:10px;
  color:#C0C0C0;
  padding-bottom:3px;
  padding-top:3px;
  padding-left:5px;
  padding-right:5px;
  text-align:center;
  background:url(../_images/bg_turnpage.gif);
  border:#909090 1px solid;
  text-decoration:none;
  float:left;
}
.page_turn li.num a,visited {
  color:#C0C0C0;
  line-height:10px;
  text-decoration:none;
}
.page_turn li.num a:hover {
  color:#fff;
  line-height:10px;
  text-decoration:none;
}